.Form {
  width: 30%;
  background-color: white;
  border: 5px solid salmon;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Form input {
  margin-bottom: 0.5rem;
}
.form_Fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 0rem;
}
.form_btn {
  background-color: salmon;
  border: 1px solid salmon;
  padding: 0.3rem;
  font-weight: bold;
}
.form_btn:hover {
  background-color: rgb(248, 102, 86) !important;
}
#passwordError {
  margin-bottom: 1rem;
  font-size: 0.8em;
  color: red;
}
